.logo-wrap {
    text-align: center;
}

.logo {
    width: 50%;
}

.information {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}

.information-wrap {
    margin-top: 1.5em;
    padding-bottom: 0.5em;
}
